.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #df7850;
    color: #fff;
    padding: 15px;
    height: 10vh;
    margin: 15px 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);

    & .footer__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        margin: 0 10px;
    }

    & .footer__tools-informations {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        margin: 0 10px;

        & .tools-information__list {
            margin: 0 20px;
        }
    }

    & .footer__social-media {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        margin: 0 10px;

        & .social-media__icons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 15px;

            & img {
                width: 45px;
                height: 45px;
            }
        }
    }

    /* Divisor horizontal*/

    & .footer__divisor {
        width: 2px;
        height: 100%;
        background-color: #fff;
        transform: rotate(  );
    }
}

/* Estilos para telas menores (Tablets e Celulares) */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 20px);
        height: auto; 
        min-height: 40vh;
        gap: 20px;
        padding: 30px 15px; 

        & .footer__content,
        & .footer__tools-informations,  
        & .footer__social-media {
            align-items: center;
            text-align: center;
            width: 100%;

            p {
                font-size: 0.8rem;
            }
        }

        /* Transformando o divisor vertical em horizontal */
        & .footer__divisor {
            width: 80%; /* Não ocupa a largura toda  */
            height: 1px; /* Espessura da linha deitada */
            background-color: rgba(255, 255, 255, 0.5);
            margin: 5px 0;
        }

        & .footer__social-media .social-media__icons {
            justify-content: center; /* Garante ícones centrados */
            
            & img {
                width: 35px; /* Ícones um pouco menores no mobile evitam poluição */
                height: 35px;
            }
        }
        
        & .footer__tools-informations .tools-information__list {
            margin: 0; 
            list-style: none; /* Garante que não tenha bolinhas deslocadas */
            padding: 0;
        }
    }
}
