.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
    min-width: 90vw;

    & .header-home {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        color: #fff;
        padding: 10px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

        & .user-info-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
            border-bottom: 1px solid #ccc;
            border-radius: 15px;
            padding: 5px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        }

        & .header-home__button {
            color: #fff;
            background-color: #df7850;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        & .spinner {
            border: 4px solid rgba(255, 255, 255, 0.3);
            border-top: 4px solid #00e5ff;
            border-radius: 50%;
            margin: 0 auto;
            width: 18px;
            height: 18px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }

    & .home__initial-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #9e9d9d;
        border-radius: 8px;
        width: 93%;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

        & .initial-section__title {
            color: #fff;

            & .initial-section__button {
                color: #fff;
                background-color: #52998c;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        & .img-home {
            width: 500px;
        }
    }

    & .home__first-cards-section {
        display: flex;
        flex-direction: column;
    }

    & .home__apresentations-cards {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        padding: 20px 5px;
        margin: 25px 0;
        width: 85vw;
        height: 100%;
        box-sizing: border-box;

        & .apresentation-cards__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
            & .a-cards {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #fff;
                border: 1px solid #fffcfc;
                border-radius: 8px;
                padding: 5px;
                width: 20%;
                height: 320px;
                box-shadow: 5px 9px 48px 0px rgba(255,255,255,0.75) inset;
                -webkit-box-shadow: 5px 9px 48px 0px rgba(255,255,255,0.75) inset;
                -moz-box-shadow: 5px 9px 48px 0px rgba(255,255,255,0.75) inset;
                text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);

                img {
                    
                    width: 50%;
                }

                & .apresentions-cards__description {
                    text-align: center;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }

    & .home__apresentations-cards.hidden {
        display: none;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease-out, max-height 0.5s ease-out; 
    }

    /* O estado visível */
    & .home__apresentations-cards.visible {
        display: flex;
        opacity: 1;
    }

    & .next-page-button-section {
        transition: transform 0.5s ease;

        & .next-page-icon {
            cursor: pointer;
            transition: all 0.5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & .next-page-button-section.rotated .next-page-icon {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    & .most-purchased-title {
        color: #fff;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }

    & .most-purchased-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: #fff;
        padding: 15px;
        width: 100%;
        height: 100%;
    

        & .most-purchased-section__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items:center;
            gap: 20px;
            padding: 20px 5px;
            margin: 10px 0;
            width: 100%;
            height: 100%;

            & .most-purchased-cards {
                border: 1px solid #fffefe;
                border-radius: 15px;
                padding: 5px;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

                & .most-purchased__icon {
                    position: absolute;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: #df7850;
                    padding: 6px;
                    margin-top: 13%;
                    margin-left: 13%;
                    width: 30px;
                    height: 30px;
                    box-shadow: 1px 1px 3px #000;

                    & .bi-arrows-move {
                        display: inline-block;
                        font-size: 1.9rem;
                        text-align: center;
                        transition: all 0.5s ease;

                        &:hover {
                            transform: rotate(130deg);
                        }
                    }

                    .tooltip {
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        white-space: nowrap;
                        pointer-events: none;
                        color: #fff;
                        font-size: 0.9rem;
                        border-radius: 6px;
                        background-color: #df7850;
                        padding: 5px 12px;
                        top: -30px;
                        right: -12px;
                        transition: all 0.3s ease;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
                    }

                    &:hover .tooltip {
                        visibility: visible;
                        opacity: 1;
                        top: 5px;
                        right: 50px;
                    }   
                }
                & img {
                    border-radius: 15px;
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }

    & .most-purchased-section.hidden {
        display: none;
        opacity: 0;
        max-height: 0;
        overflow: hidden; /* Garante que o conteúdo não vaze */
        transition: opacity 0.5s ease-out, max-height 0.5s ease-out; 
    }

    /* O estado visível */
    & .most-purchased-section.visible {
        opacity: 1;
        display: flex;
        max-height: 1000px; /* Um valor alto o suficiente para mostrar o conteúdo */
    }
}

/* Estilos para telas menores (Tablets e Celulares) */
@media (max-width: 768px) {
    .home {
        width: 100%; /* Garante que não passe da tela */
        padding: 0 10px; /* Margem interna para o conteúdo não colar na borda */

        & .header-home {
            flex-direction: column; /* Logo e busca ficam um embaixo do outro */
            align-items: center;
            text-align: center;
            gap: 15px;

            & .user-info-header {
                flex-direction: row; /* Talvez manter os ícones lado a lado? */
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;
            }
        }

        & .home__initial-section {
            flex-direction: column-reverse; /* Reverse coloca a imagem primeiro se ela vier depois no HTML */
            align-items: center;
            text-align: center;
            padding-bottom: 10px;

            & .initial-section__title  {
                margin: 0 40px;
                width: 70%;

                & .title {
                    font-size: 1rem;
                    margin-right: 10px;
                }

                & .initial-section__button {
                    margin-top: 10px;
                }
            }

            & .img-home {
                width: 100%;
                max-width: 400px; /* max-width para evitar que a imagem fique gigante em tablets */
                height: auto;
            }
        }

        & .home__apresentations-cards .apresentation-cards__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            & .a-cards {
                width: 80%; /* Ocupar a largura disponível */
                max-width: 320px; /* Mas não esticar demais */
                margin-bottom: 10px;
            }
        }

        & .most-purchased-section .most-purchased-section__container {
            display: flex;
            flex-direction: column;
            align-items: center;

            & .most-purchased-cards {
                width: 100%;
                
                & img {
                    width: 100%;
                    max-width: 250px; /* Mantém o tamanho do action figure controlado */
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}