.order-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    padding: 10px;
    margin-left: 8%;
    width: 80%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

    & .order-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid #ccc;
        border-radius: 12px;
        padding: 20px;
        width: 90%;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);

        & .card-header {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 5px;
            width: 40%;

            & .title {
                font-size: 1.5em;
                color: #fff;
            }

            & .sub-title {
                background-color: #df7850;
                border-radius: 5px;
                padding: 5px;
            }
        }

        & .order-summary {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            margin-top: 20px;
            width: 100%;

            & item-list {
                display: flex;
                flex-direction: column;
            }

            & .order-summary__payment {
                display: flex;
                flex-direction: column;
            }

            & .status {
                color: #df7850;
            }
        }

        & .button-actions-section {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 15px;
            padding: 10px;

            & .actions-button {
                padding: 10px 5px;
            }
        }

        & .thanks-section {
            margin-top: 20px;
        }
    }

    & .order-card button {
        cursor: pointer;
        color: #fff;
        background-color: #4d01ff;
        padding: 10px 20px;
        margin-top: 20px;
        transition: all 0.3s ease;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

        &:hover{
            transform: scale(1.1);
        }
    }

}